@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body{overflow-x: hidden;}
/* layout */
#wrap{}
#header{background: rgba(0,0,0,0.8); position: absolute; left: 0; top: 0; width: 100%;}
/* #header:hover{background-color: #fff;} */
#banner{}
#banner{width: 100%;}
#contents{}
#contents > div{padding: 100px 0;}
#footer{}

/* contents layout */
#cont_product{ 
    background:
     url('../images/flt_img1.png') no-repeat 400px -70px,
     url('../images/flt_img2.png') no-repeat -170px 0,
     url('../images/flt_img4.png') no-repeat 1300px 50px;
    background-color: #ebebec;


}
#cont_news{
    background:
    url('../images/new_img1.png') no-repeat 1300px 50px,
    url('../images/new_img2.png') no-repeat 1100px 50px,
    url('../images/new_img3.png') no-repeat 1700px 50px;
   background-color: #fff;
}
#cont_story{background: #ebebed url('../images/story_bg.jpg') 0 bottom no-repeat;  }
#contents h2{font-size: 40px; text-align: center; text-transform: uppercase; font-weight: bold; height: 68px;}
#contents .desc{font-size: 18px; color: #767676; text-align: center; margin-bottom: 80px;}




/* container */
.container{ width: 1176px; margin: 0 auto; }
/* background: rgba(0,0,0,0.4); */

/* header_wrap */
.header_wrap{}
.header_wrap .header_top{text-align: center; border-bottom: 1px solid rgba(255,255,255,0.3);}
.header_wrap .header_top h1{padding: 30px 0 24px 0;}
.header_wrap .header_nav{}
.header_wrap .header_nav ul{overflow: hidden;}
.header_wrap .header_nav li{float: left; width: 16.6%; text-align: center;}
.header_wrap .header_nav li a{color: #fff; padding: 10px; display: block; font-size: 16.5px;}

/* contents */


/* cont_product */
.product{}
.product ul{overflow: hidden; width: 950px; margin: 0 auto;}
.product ul li{float: left;  margin-right: 10px; margin-bottom: 10px; text-align: center; }
.product ul li a{display: block; width: 230px; height: 230px; background: #fff;}
.product ul li a:hover{background-color: #1775bc; color: #fff;}
.product ul li img{padding:35px 0 15px 0;}
.product ul li span{font-size: 18px; display: block;}
.product ul li:nth-child(4){margin-right: 0;}
.product ul li:nth-child(8){margin-right: 0;}




/* cont_news */
.news{overflow: hidden;}
.news_left{float: left; width: 879px;}
.news_left_top{width: 100%;  margin-bottom: 10px; overflow: hidden;}
.news_left_bom{width: 100%; overflow: hidden;}


/* news_video */
.news_left .news_left_top .news_video{float: left; width: 580px; height: 336px;  border: 1px solid #e0e0e0; position: relative;}
.news_left .news_left_top .news_video .play{position: absolute; margin-left: -30px; margin-top: -30px;  top: 50%; left: 50%; }



/* news_recruit */
.news_left .news_left_top .news_recruit{float: right; width: 224px; height: 276px;  border: 1px solid #e0e0e0; padding: 30px; position: relative;}
.news_recruit h3{font-size: 18px; font-weight: bold; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; margin-bottom: 15px;}
.news_recruit ul{}
.news_recruit li{}
.news_recruit li a{color: #666; font-size: 15px;}
.news_recruit .more{position: absolute; right: 30px; top: 35px; background: url('../images/mMore_bt.png') ; width: 16px; height: 16px;}


/* news_custom */
.news_left .news_left_bom .news_custom{float: left; width: 164px; height: 140px;  border: 1px solid #e0e0e0; margin-right: 10px; padding: 28px 0 0 120px; background: url('../images/custom_img1.png') no-repeat 28px 47px; }
.news_custom h3{font-size: 18px; font-weight: bold; padding-bottom: 8px;}
.news_custom p{font-size: 14px; color: #767676; padding-bottom: 20px; line-height: 20px;}


/* news_factory */
.news_left .news_left_bom .news_factory{float: left; width: 164px; height: 140px; padding: 28px 0 0 120px;  border: 1px solid #e0e0e0; background: url('../images/factory_img1.png') no-repeat 28px 47px;}
.news_factory h3{font-size: 18px; font-weight: bold; padding-bottom: 8px;}
.news_factory p{font-size: 14px; color: #767676; padding-bottom: 20px; line-height: 20px;} 
/* news_franchise */
.news_left .news_left_bom .news_franchise{float: right; width: 226px; height: 110px; padding: 28px 0 0 120px;  border: 1px solid #e0e0e0; background: #1977be; padding: 30px;}
.news_franchise h3{font-size: 18px; font-weight: bold; color: #fff; padding-bottom: 8px;}
.news_franchise p{font-size: 14px; color: #9fd6ff; padding-bottom: 20px; line-height: 20px;}


/* new_right */
/* .news_right{float: right; width: 226px; height: 460px; background: #ebebec; position: relative; padding: 30px; background: rgba(204,204,204,0.9);}
.news_right h3{font-size: 18px; font-weight: bold; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; margin-bottom: 15px;}
.news_right .news_img img{width: 226px; height: 136px; padding-bottom: 15px;}
.news_right .news_text{position: relative; padding-left: 35px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #dbdbdb;}
.news_right .news_text em{display: block; width: 30px; height: 20px; background: #0068b7; display: block; color: #fff; text-align: center; font-style: normal; position: absolute; left: 0; top: 0;}

.news_right .news_list{}
.news_right .news_list em{display: inline-block; width: 30px; height: 20px; background: #0068b7; display: block; color: #fff; text-align: center; font-style: normal; margin-right: 5px; font-size: 12px;}
.news_right .news_list em a{overflow: hidden; text-overflow: ellipsis;}
.news_right .more{position: absolute; right: 30px; top: 35px; background: url('../images/mMore_bt.png'); width: 16px; height: 16px;} */

.news_right {position: relative; float: right; width: 226px; height: 460px; background-color: rgba(204,204,204,0.8) ;  padding: 30px;}
.news_right h3 {font-size: 18px; font-weight: bold; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; margin-bottom: 15px; }
.news_right .news_img img {width: 226px; height: 136px; padding-bottom: 15px; }
.news_right .news_text {position: relative; padding-bottom: 10px; border-bottom: 1px solid #dbdbdb; margin-bottom: 15px;}
.news_right .news_text em {position: absolute; left: 0; top:0; width: 30px; height: 20px; background-color: #0068b7; text-align: center; color: #fff; font-size: 14px; line-height: 20px;}
.news_right .news_text a {display: block; padding-left: 35px; }
.news_right .news_text a:hover {text-decoration: underline;}
.news_right .news_text a .nt_tit {font-size: 16px; color: #111; line-height: 18px; font-weight: bold;  }
.news_right .news_text a .nt_desc {display: block; font-size: 15px; color: #656565; line-height: 18px; padding-top: 15px; }
.news_right .news_list li {position: relative; padding-left: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 28px; font-size: 15px;  }
.news_right .news_list li a {color: #656565;  }
.news_right .news_list li em {position: absolute; left: 0; top:2px; width: 30px; height: 20px; background-color: #0068b7; text-align: center; color: #fff; font-size: 12px;line-height: 20px; }
.news_right .more {position: absolute; right: 30px; top: 35px; background: url(../images/mMore_bt.png); width: 16px; height: 16px; }


/* cont_story */

.story{overflow: hidden; }
.story li{float: left; width: 25%; height: 400px; background: #ccc; text-align: center;}
.story li.sbox1{background: #fff url('../images/story_img1.jpg') no-repeat; padding-top: 200px; background-size: 100%; height: 200px;}
.story li.sbox2{background: #fff url('../images/story_img2.jpg') no-repeat 0 bottom; background-size: 100%;}
.story li.sbox3{background: #fff url('../images/story_img3.jpg') no-repeat; padding-top: 200px; background-size: 100%; height: 200px;}
.story li.sbox4{background: #fff url('../images/story_img4.jpg') no-repeat 0 bottom; background-size: 100%;}


.story li .stit{padding-top: 40px; font-size: 18px; color: #000;display: block;}
.story li .sdesc{padding-top: 20px; padding-bottom: 20px; display: block; font-size: 15px; color: #555;}



/* footer_top */
.footer_top{overflow: hidden;}
.footer_top .ft_left{float: left; width: 970px; border-bottom: 1px solid #e1e1e1; height:60px; line-height: 60px; }
.footer_top .ft_left li{display: inline-block; padding-right: 15px;}
.footer_top .ft_left li em{color: #0168b7;}
.footer_top .ft_left li a{font-size: 15px; color: #333;}
.footer_top .ft_right{float: right; width: 176px; border-bottom: 1px solid #666; padding: 0 15px;}
.footer_top .ft_right a{font-size: 15px; color: #333;  height:60px; line-height: 60px; display: block; background: url('../images/family-icon.png') no-repeat right center;}
/* footer_bom */
.footer_bom{overflow: hidden; margin-top: 30px; color: #767676; font-size: 13px;}

.footer_bom .fb_left{float: left; width: 60%;  height:100px;}
.footer_bom .fb_left li{display: inline-block; background: url('../images/bar.gif') no-repeat right 2px; padding: 0 9px 0 7px; }
.footer_bom .fb_left li:first-child{padding: 0;}
.footer_bom .fb_left li:last-child{padding: 0; margin-top: 5px;}
.footer_bom .fb_left li.nobar{background: none;}
.footer_bom .fb_right{float: right; width: 30%;  height:100px; text-align: right;}
.footer_bom .fb_right img{padding: 5px;}